* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: "Poppins", sans-serif;
  }


  /** --------- NAVBAR ----------- **/
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 40px;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    width:25%;
  }
  
  
  
 .navigation ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
 .navigation ul a {
    color: black;
  }
  
 .navigation ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
 .navigation ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #book {
    border-radius: 5px;
    padding: 5px 8px;
  }
  
  #book {
    border: 1px solid #FDC107;
  }
  
  #book a {
    color: #FDC107;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: white;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }


  /** ----x----- NAVBAR ------x----- **/

  /** --------- Section FORM ----------- **/
.formSection {
    background-color: #FDC107;
    padding:5em 2em;
}
#textTitle {
    color: white;
    font-weight: bolder;
}

#textParagraph {
    font-size: 20px;
    color: white;
}

.form {
    background-color: white;
    border-radius: 10px;
    padding:2.4em;
}

.form label {
    font-weight: bold;
}

  /** ----x----- Section FORM -----x------ **/
  /** --------- Carousels ----------- **/
.carousels {
   text-align: center;
   background-color: #FDC107;
   padding: 4em;
   color:white
}
.owl-carousel {
    width: 100%;
}
.owl-dots {
    position:absolute;
    width: 100%;
    text-align: center;
    
    
}
.owl-dots span {
    width:20px !important;
    height:20px !important;

}
.owl-dots button {
    border: none !important;
    outline: none !important;
}

.owl-nav button {
    border: none !important;
    outline: none !important;
}

.owl-prev, .owl-next {
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    color: white !important;
    font-size: 60px !important;
    font-weight: bolder !important;

}
.owl-prev {
    left:1%;
}
.owl-next {
    right:1%;
}

.carousels .slide-content img {
    width:75px !important;
    height: 75px;
}
.carousels .div {
    display: flex;
    justify-content: center;
}


  /** -----x---- Carousels ------x----- **/



  /** --------- Footer ----------- **/

  .footerAnchors a {
      text-decoration: none;
      color: white;
  }
  .footerAnchors a:hover {
      color: blue;
  }
  /** ------x--- Footer -------x---- **/

  /** ------x--- Price Page-------x---- **/
.price {
    width: 85%;
    margin: 2em auto;
}
  .price-cards {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      
      
  }

  .card {
      border-radius: 5px;
      border: solid #FDC107 3px;
      margin:9px;
  }

  .price-cards .card img {
      width:300px;
      height: 235px;
  }

  .adv-vehicle{
      display: flex;
      justify-content: space-around;
  }

  .card strong {
      padding-left: 25px;
      padding-bottom: 10px;
  }

  .capacity {
      text-align: center;
  }

  .passenger {
    text-align: center;
}

.adv-vehicle i{
    color:#FDC107
}

.card h3 {
    text-align: center;
    font-weight: bolder;
    margin:7px;
}
.card h4 {
    margin:0;
    
}

.card hr {
    width:20%;
    text-align: right;
    align-self: flex-end;
}

.pricing {
    color:#118C4F;
    font-size:xx-large;
    font-weight: bolder;
    text-align: right;
    padding-right: 5px;
}

.btns {
    margin:10px;
}

  /** ------x--- Price Page-------x---- **/



  
  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }

    #brand {
        width:35%;
      }

      .formParagraph {
          display: none;
      }
  }
